<footer class="page-footer"style="background-color:   #607D8B;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Quizes</h5>
  
          <ul id="footer">
            <li><a  href="#!" >Banking</a></li>
            <li><a  href="#!" >Programming</a></li>
            <li><a  href="#!">General Knowledge</a></li>
            <li><a  href="#!" >IAS</a></li>
          </ul>
     
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Online Free Quizzes & Mock Tests</h5>
        <ul id="footer">
          <li><a  href="#!" >About US</a></li>
          <li><a  href="#!" >Privacy Policy</a></li>
          <li><a  href="#!">Cookies Policy</a></li>
          <li><a  href="#!" >Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color:   #607D8B;"  >
    <div class="container">
    Developed By <b style="color:black"> Akshay Methaniya,Meet Mehta</b>
    </div>
  </div>
</footer>
