<!--<nav class="blue-grey">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Quiz</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              {{name}}
            </li>
          <li>
            <a (click)="Home()">Home</a>
          </li>
        <li>
         <a (click)="SignOut()">Logout</a>
        </li>
       
      </ul>
    </div>
  </nav>-->
  <nav>
    <div class="nav-wrapper" style="background-color:darkmagenta;">
        
      <a href="home" class="brand-logo" style="margin-left: 20px;">Online Free Quizzes & Mock Tests</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="home">Home</a>
        </li>
        <li><a href="">Logical Reasoning</a></li>
        <li><a href="">SSC</a></li>
        <li><a href="">IAS</a></li>
        <li><a href="bank">Banking</a></li>
        <li><a href="">CBSE</a></li>
        <li *ngIf="isUser">
            <a (click)="SignOut()">Logout</a>
         </li>
        <li *ngIf="!isUser">
            <a (click)="Login()">Login</a>

           </li>
           <li *ngIf="!isUser">
              <a href="register">SignUp</a>
              
             </li>   
             
           
      </ul>
    </div>
  </nav>
  