<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="col s6">
        <h2>Login</h2>
      </div>
      <div class="card-content">
      <form #LoginForm="ngForm" novalidate (ngSubmit)="onSubmit(Uname.value)"> 
        
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" name="uame" #Uname ngModel required>
            <label>Username</label>
          </div>
        </div>
          <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="password" name="Password" #Password ngModel required >
                <label>Password</label>
              </div>
            </div>  
        
          
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" [disabled]="LoginForm.invalid" type="Submit">Login</button>
          </div>
        </div>
      </form>
      </div>
    </div> 
  </div>
</div>   