body{
    background-color:#56707dc7;
}
.loginDiv{
    background-color:#56707dc7;
    text-align: center;
    height:657px;
}
.loginFields{
    border-radius: 25px solid;
    /*box-shadow: 5px 5px 5px black;*/
    height: auto;
    margin-top: 120px;
}
.submitButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.submitButton{
    background-color:#56707d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}