<app-navbar></app-navbar>
        
<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <div class="row">
        <div class="column" >
            <ul class="collection with-header " >
                <li class="collection-header" style="background-color:steelblue;color: white;padding-top: 2px;padding-bottom: 10px;"><h4>Banking Quiz</h4></li>
                <li class="collection-item"><div>Reasoning Ability<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>English Language<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Numerical Ability<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Computer Knowledge<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
        <div class="column" >
            <ul class="collection with-header " >
                <li class="collection-header" style="background-color:tomato;color: white;padding-top: 2px;padding-bottom: 10px;"><h4>General Knowledge</h4></li>
                <li class="collection-item"><div>History<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Geography<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Economy<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Science & Technology<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
           <div class="column" >
            <ul class="collection with-header" >
                <li class="collection-header" style="background-color:#009788;color: white;padding-top: 2px;padding-bottom: 10px;"><h4>Verbal Ability</h4></li>
                <li class="collection-item"><div>Antonyms<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Synonym<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Jumbles Paragraph<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Cloze Test<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
        <div class="column" >
            <ul class="collection with-header" >
                <li class="collection-header" style="background-color:#4CB050;color: white;padding-top: 2px;padding-bottom: 10px;"><h4>SSC</h4></li>
                <li class="collection-item"><div>Quantitative Aptitude<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>General Intelligence and Reasoning<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>English Comprehension<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>General Awareness<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
        <div class="column" >
            <ul class="collection with-header" >
                <li class="collection-header" style="background-color:#E91D62;color: white;padding-top: 2px;padding-bottom: 10px;"><h4>IAS</h4></li>
                <li class="collection-item"><div>General Studies Set-1 <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>GS Mock Test Paper<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>IAS CSAT Online Quiz-1<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>CSAT Mock Test Paper<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
        <div class="column" >
            <ul class="collection with-header" >
                <li class="collection-header" style="background-color:#03A9F5;color: white;padding-top: 2px;padding-bottom: 10px;  "><h4> CBSE Class 12th</h4></li>
                <li class="collection-item"><div>Physics<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Chemistry<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Mathematics<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Biology<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              </ul>    
        </div>
        
     
  </div>  
  
  <footer class="page-footer"style="background-color:   #607D8B;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quizes</h5>
    
            <ul id="footer">
              <li><a  href="#!" >About US</a></li>
              <li><a  href="#!" >Privacy Policy</a></li>
              <li><a  href="#!">Cookies Policy</a></li>
              <li><a  href="#!" >Contact Us</a></li>
            </ul>
       
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Online Free Quizzes & Mock Tests</h5>
          <ul id="footer">
            <li><a  href="#!" >About US</a></li>
            <li><a  href="#!" >Privacy Policy</a></li>
            <li><a  href="#!">Cookies Policy</a></li>
            <li><a  href="#!" >Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="background-color:   #607D8B;"  >
      <div class="container">
      Developed By <b style="color:black">Akshay Methaniya , Meet Mehta</b>
      </div>
    </div>
  </footer>
<!--<app-navbar></app-navbar>
<br><br>
<div class="row"  >
    <div class="col s12 m6"style="width:250px;height:auto;float: left;">
      <div class="card"     >
        <div class="card-image">
          <img src="../../assets/img/bankingquiz.jpg">
          <span class="card-title" style="color:black;">Banking</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>15 Most Important Question For Banking Quiz</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6"style="width:250px;height:auto;float: right;">
        <div class="card" >
          <div class="card-image">
            <img src="../../assets/img/bankingquiz.jpg">
            <span class="card-title" style="color:black;">Banking</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>15 Most Important Question For Banking Quiz</p>
          </div>
        </div>
      </div>
  </div>
-->
<!--<div class="row">
<div class="quizes column">
  <div class="title">
      General Knowledge
  </div>
  
  <div class="content">
      <ul>
        <li><a href="">Reasoning Ability</a><div class="bar"></div></li>
        
        <li><a href="">Verbal Ability</a> <div class="bar"></div></li>
       
        <li><a href="">Computer Knowledge</a>  <div class="bar"></div></li>
        <li><a href="">Verbal Ability</a></li>
      </ul>
    </div>
</div>
<div class="quizes column">
    <div class="title" style="background-color: #03A9F5">
        Quantitative Aptitude
    </div>
    <div class="content">
        <ul>
          <li><a href="">Reasoning Ability</a></li>
          <li><a href="">Verbal Ability</a></li>
          <li><a href="">Computer Knowledge</a></li>
          <li><a href="">Verbal Ability</a></li>
        </ul>
      </div>
  </div>
  <div class="quizes column">
      <div class="title" style="background-color:#673BB7;" >
          Banking
      </div>
      <div class="content">
          <ul>
            <li><a href="">Reasoning Ability</a></li>
            <li><a href="">Verbal Ability</a></li>
            <li><a href="">Computer Knowledge</a></li>
            <li><a href="">Verbal Ability</a></li>
          </ul>
        </div>
    </div>
    <div class="quizes column">
        <div class="title" style="background-color:#4CB050;">
            Banking
        </div>
        <div class="content">
            <ul>
              <li><a href="">Reasoning Ability</a></li>
              <li><a href="">Verbal Ability</a></li>
              <li><a href="">Computer Knowledge</a></li>
              <li><a href="">Verbal Ability</a></li>
            </ul>
          </div>
      </div>
</div>-->

